<h1>Actors</h1>

<table id="actorsTable" class="tablesorter">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Nationality</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

<% @actors.each do |actor| %>
    <tr>
      <td><%= actor.name %></td>
      <td><%= actor.gender %></td>
      <td><%= actor.nationality %></td>
      <td><%= link_to 'Show', actor %></td>
      <td><%= link_to 'Edit', edit_actor_path(actor) %></td>
      <td><%= link_to 'Destroy', actor, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
<% end %>

  </tbody>
</table>

<br />

<%= link_to 'New Actor', new_actor_path %>
