<header>

  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Browse Movies", movies_path %></li>
      <li><%= link_to "Browse Actors", actors_path %></li>
    </ul>
  </nav>
</header>